/* 로고 서체 */
@font-face {
    font-family: 'jalnan'; /* 서체의 이름을 지정합니다. */
    src: url('/asset/font/Jalnan2TTF.ttf'); /* 서체 파일의 경로를 지정합니다. */
}
/* 나머지 서체 */
@font-face {
    font-family: 'suit';
    src: url('/asset/font/SUIT-Variable.ttf');
}

:root {
    /* color */
    --white: #fff;
    --black: #000;
    --blue-900: #273e49; /* 텍스트 색상, black 대신 쓰세요 */
    --blue-800: ##4B778D; /* 메인컬러1 : 네이비 */
    --blue-800: #626f75;  /* 서브 텍스트 색상, 짙은 회색 */
    --mint-900: #28b5b5; /* 메인컬러2 : 선명한 민트색 */
    --light-green: #8FD9A8; /* 메인컬러3 밝은 연두색 */
    --yellow-green: #D2E69C; /* 메인컬러4 가장 밝은 연두색 */
    
    /* border-radius */
    --radius-10: 10px; /* 카드 요소에 넣어주세요. */ 
    --radius-50: 50px; /* 완전히 둥글게 */	

/* margin */	
    --margin-16: 16px; /* 섹션 제목과 섹션 요소 사이에 넣어주세요 */
    --margin-107: 107px; /* 섹션과 섹션사이에 넣어주세요 */

/* box-shadow */
    --shadow: 0 2px 8px #38556450; /* hover시 많이 쓰이는 그림자 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-family: suit;
}

.serch-container {
    border-radius: var(--radius-10);
    overflow: hidden;
}

#serch-back img {
    height: 600px;
    filter: blur(5px);
}

.news-title {
    background-color: var(--light-green);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 800;
}

#scrollContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: translateX(100%);
}

#scrollContent>div {
    display: flex;
    animation: textScrollEffect 12s infinite linear;
}


.input-container {
    width: 80%;
    height: 40px;
    position:relative;
    top: 150px;
    margin: 0 auto;
    z-index: 999;
}

.input-container>i {
    position: absolute;
    left: 20px;
    line-height: 40px;
}

.input-container>a{
    position: absolute;
    background-color: var(--mint-900);
    color: #fff;
    letter-spacing: 8px;
    right: 0;
    font-weight: 800;
    font-size: 1.3rem;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-top-right-radius: var(--radius-50);
    border-bottom-right-radius: var(--radius-50);
}


.input-container>input {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-50);
    padding-left: 50px;
    padding-right: 100px;
}

.new {
    height: 50px;
}

.news-title {
    width: 100px;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 8px;
}

.news-container {
    box-shadow : 0 2px 5px var(--blue-900);
    border-radius: var(--radius-10);
    overflow: hidden;
    display: flex;
}

.scroll-container {
    overflow: hidden;
    padding: 0 20px;
}

@keyframes textScrollEffect {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-200%);
    }
}